<%provide(:title, 'About me')%>
    <h1>About me</h1>
    <p>
	 Jack is a software enthusiast with a drive for creativity and 	entrepreneurship. This is the sample application for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
    </p>
