<div class="center hero-unit pagebackgroundcolor">
  <h1>Welcome to zepoc</h1>
  <span style="margin-top: 35px;">
     <i class="icon-circle-arrow-right icon-large"></i>
    <!--<i class="icon-cloud-upload icon-large" style="margin-right: 10px;"></i>-->
    <h2 style="display: inline;">
     ~ want to share photos? ~
    </h2>
    <!--<i class="icon-cloud-upload icon-large" style="margin-left:5px;"></i>-->
     <i class="icon-circle-arrow-left icon-large" style="margin-left:-3px;"></i>
  </span>
  <div style="margin-top: 30px;"> <%= link_to "Sign up to upload now!", signup_path,
    class: "btn btn-large btn-inverse" %></div>
</div>