<div class="center hero-unit pagebackgroundcolor">
  <h1>Welcome to zepoc</h1>
  <span style="margin-top: 35px;">
     <i class="icon-cloud icon-2x" style="margin-right:8px;"></i>
    <!--<i class="icon-cloud-upload icon-large" style="margin-right: 10px;"></i>-->
    <h2 style="display: inline;">
     want to share photos?
    </h2>
    <!--<i class="icon-cloud-upload icon-large" style="margin-left:5px;"></i>-->
     <i class="icon-cloud icon-2x" style="margin-left:5px;"></i>
  </span>
  <div style="margin-top: 40px;"> <%= link_to "Sign up to upload now!", signup_path,
    class: "btn btn-large btn-inverse" %></div>
</div>