<% provide :title, @user.name %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
			<% unless @user.avatar_file_name.blank? || @user.avatar_file_size == 0 %>
		    	<%= image_tag @user.avatar.url(:medium), style: "float:left; margin-right: 10px"%> 	
			<% else %>	
		    	<%= gravatar_for "jackliang1987@hotmail.com" %>
			<% end %>		
			<%= @user.name %>
			</h1>
		</section>
	</aside>	
</div>
