<% provide :title, @user.name %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
			<%= @user.name %>
		    <%= image_tag @user.avatar.url(:thumb), style: "float:left"%> 			
		    <%= gravatar_for @user %>
			</h1>
		</section>
	</aside>	
</div>
