<%= image_tag @photo.photo, class:"shadow" %>

<% if signed_in? %>
  <div style="margin-top: 10px;">
    <i class="icon-cloud-download icon-black"></i>
    <%= link_to 'Download', :action => :download, :id => @photo.id %>
  </div>
<% end  %>


