$linkColor: #0055FF;
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

@mixin engravedtext
{text-shadow:  0px 1px 0px #f8f8f8;}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  @include engravedtext;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #000000;
  //letter-spacing: -.5px;
  padding-top: 3px;
  font-weight: bold;
  line-height: 1;
  text-transform: lowercase;
  &:hover {
    color: #ff6100;
    text-decoration: none;
  }
  @include engravedtext;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.pagebackgroundcolor
{background-color:$grayMediumLight;}

@mixin box_sizing
{
	-moz-box-sizing:border-box;
	-webkite-box-sizing:border-box;
	box-sizing: border-box;
}

.drop-shadow {
  //position:relative;
  float:left;
  //width:40%;
  padding:1em;
  // margin:2em 20px 4em;
  background: #222222;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
  border-radius:0 0 120px 120px / 0 0 6px 6px;
  border:1px solid #8b8b8b;
}

.debug_dump
{
	clear:both;
	float:left;
	width:100%;
	margin-top:45px;
	//@include box_sizing;
}

aside{
	section{
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
		border: 0;
		padding-top:0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-weight: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.gravatar { float: left; margin-right: 10px;}

input, textarea, select, .uneditable-input {
	//border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height:auto;
	margin-bottom: 15px;
	font-size: 16px;
	//@include box_sizing;
}

#error_explanation {
  ul {
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
	@extend .control-group;
	@extend .error;}

.flash
{
	font-size: 20px;
	height:auto;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.textfieldtextcolorclick
{
  background-color: #ffe6ad !important;
}

.vertical_divider {
  padding-left: 40px;
  padding-right: 16px;
  border-left:1px solid #eeeeee;
  //border-right:1px solid #16222c;
  //height:80px;
  //position:absolute;
  //right:249px;
  //top:10px;
}

