$linkColor: #707070;
$linkColorHover: #708090;
$textColor: #707070;
@import "bootstrap";

@font-face {
  font-family: champagne;
  src: url(font-path('champagne_limousines/Champagne___Limousines_Bold.eot'));
  src: url(font-path('champagne_limousines/Champagne___Limousines_Bold.eot?#iefix'))  format('embedded-opentype'),
       url(font-path('champagne_limousines/Champagne & Limousines Bold.ttf'))  format('truetype'),
       url(font-path('champagne_limousines/champagne__limousines_Bold.svg'))  format('svg');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'MyWebFont';
//  src: url('webfont.eot'); /* IE9 Compat Modes */
//  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('webfont.woff') format('woff'), /* Modern Browsers */
//  url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//  url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
//}

@font-face {
  font-family: impregnable;
  src: url(font-path('Impregnable_Personal_Use_Only.eot'));
  src: url(font-path('Impregnable_Personal_Use_Only.eot?#iefix'))  format('embedded-opentype'),
       url(font-path('Impregnable_Personal_Use_Only.ttf'))  format('truetype'),
       url(font-path('Impregnable_Personal_Use_Only.svg'))  format('svg');
  font-weight: normal;
  font-style: normal;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: visible;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

@mixin engravedtext
{text-shadow:  0px 1px 0px #f8f8f8;}

label
{
  font-size: 1.1em;
  line-height: 1;
  font-family: "champagne";
  @include engravedtext;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  @include engravedtext;
  font-family: champagne;
}

h1 {
  font-size: 3em;
  //letter-spacing: -2px;
  //margin-bottom: -1px;
  text-align: center;
  color: #708090;
  font-weight: normal;
}

h2 {
  font-size: 1.7em;
  //letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h6 {
  font-size: 1.2em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  //letter-spacing: -1px;
  font-weight: normal;
  color: $grayLight;
}


//p {
//  font-size: 1.1em;
//  line-height: 1.7em;
//}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.4em;
  color: #dce5e8;
  //letter-spacing: -1px;
  padding-top: 1px;
  //padding-bottom: 10px;
  font-weight: normal;
  //font-weight: bold;
  line-height: 1;
  text-transform: lowercase;
  font-family: impregnable;
  -webkit-transition: color 0.18s linear;
  -moz-transition: color 0.18s linear;
  -ms-transition: color 0.18s linear;
  -o-transition: color 0.18s linear;
  transition: color 0.18s linear;
  &:hover {
    //color: #ff6100;
    color: #708090;
    text-decoration: none;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
  }
  @include engravedtext;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;

  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.pagebackgroundcolor{
  background-color:$grayMediumLight;
}

@mixin box_sizing
{
	-moz-box-sizing:border-box;
	-webkite-box-sizing:border-box;
	box-sizing: border-box;
}

.drop-shadow {
  //position:relative;
  //float:left;
  //width:40%;
  padding:1em;
  // margin:2em 20px 4em;
  background: #222222;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-border-radius:0 0 120px 120px / 0 0 6px 6px;
  border-radius:0 0 120px 120px / 0 0 6px 6px;
  border:1px solid #8b8b8b;
}

.shadow{
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.debug_dump
{
	clear:both;
	float:left;
	width:100%;
	margin-top:45px;
	//@include box_sizing;
}

aside{
	section{
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
		border: 0;
		padding-top:0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-weight: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.gravatar { float: left; margin-right: 10px;}

input, select, .uneditable-input {
	//border: 1px solid #bbb;
	width: 100%;
	//padding: 10px;
	height:auto;
	margin-bottom: 15px;
	font-size: 16px;
	//@include box_sizing;
}
textarea {
  //border: 1px solid #bbb;
  width: 100%;
  //padding: 10px;
  height:auto;
  margin-bottom: 15px;
  font-size: 14px;
  //@include box_sizing;
}

#error_explanation {
  ul {
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
	@extend .control-group;
	@extend .error;}

//.flash
//{
//	font-size: 20px;
//	height:auto;
//}

.left
{
  float: left;
}

.right
{
  float: right;
}

.textfieldtextcolorclick
{
  background-color: #fffbe6 !important;
}

.vertical_divider {
  padding-left: 40px;
  padding-right: 16px;
  border-left:1px solid #eeeeee;
  //position: relative;
  //border-right:1px solid #16222c;
  //height:80px;
  //position:absolute;
  //right:249px;
  //top:10px;
}

//.vertical_divider:after {
//  padding-left: 40px;
//  padding-right: 16px;
//  content: '';
//  border-left:2px solid #727272;
//  position: absolute;
//  width: 100%;
//  bottom: -6px;
//  left: 0;
//  //border-right:1px solid #16222c;
//  //height:80px;
//  //position:absolute;
//  //right:249px;
//  //top:10px;
//}

.dent {
  //line-height: 1;
  //@include engravedtext;
  //font-family: champagne;
  //font-size: 1.1em;
  //font-weight: normal;
  //background-color: #f4f4f4;
  //padding-left: 60px;
  //padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 32px;

  //background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-color: rgba(0, 0, 0, 0.05);

  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow:    inset 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow:         inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
}


//div.fileinputs {
///* position: relative; */
//}

.fakefile {
  position: relative;
  //top: 20px;
  //left: 20px;
  z-index: 1;
  margin-left: -25px;
  margin-bottom: 3px
}

.realfile {
  position: relative;
  text-align: right;
  z-index: 2;
  margin-bottom: 3px;
  -moz-opacity:0 ;
  filter:alpha(opacity= 0);
  opacity: 0;
}

/* users index */
.users
{
  list-style: none;
  margin: 0;
  li
  {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child
    {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

i
{
  @include engravedtext;
}







